<div class="px-4 mt-4">
    <% if user_friend.image_profile_id %>
        <%= image_tag Image.find( user_friend.image_profile_id).url, class:"profile-image-icon" %>
        <span class="fs-5 mx-2"><%= user_friend.user_type != 'page'? user_friend.full_name : user_friend.first_name %></span>
    <% else %>
        <i class="fa fa-user fa-2x mx-2"></i>
        <span class="fs-5 mx-2"><%= user_friend.user_type != 'page'? user_friend.full_name : user_friend.first_name %></span>
    <% end %>
</div>
<hr>
<div class="chat-messages px-4" style="height: 744px; overflow-y: scroll;" id="all-messages">
    <% prev_time_ago = nil %>
    <% messages.each do |message| %>
        <% user = User.find(message.sender_id) %>
        <% if prev_time_ago != time_ago_in_words(message.created_at) %>
            <div class="d-flex justify-content-center">
                <p class="mb-0 text-secondary"><%= message.created_at.strftime('%d/%b/%Y %H:%M')%></p>
            </div>
        <% end %>
        <% prev_time_ago = time_ago_in_words(message.created_at) %>
        <% if user == current_user %>
            <div class="media mb-3 d-flex justify-content-end align-items-center">
                <div class="media-body mx-4">
                    <p class="mb-0"><%= message.message %></p>
                </div>
                <% if user.image_profile_id %>
                    <%= image_tag Image.find( user.image_profile_id).url, class:"profile-image-icon" %>
                <% else %>
                    <i class="fa fa-user fa-2x mx-2"></i>
                <% end %>
            </div>
        <% else %>
            <div class="media mb-3 d-flex justify-content-start">
                <% if user.image_profile_id %>
                    <%= image_tag Image.find( user.image_profile_id).url, class:"profile-image-icon" %>
                <% else %>
                    <i class="fa fa-user fa-2x mx-2"></i>
                <% end %>
                <div class="media-body mx-4">
                    <p class="mb-0"><%= message.message %></p>
                </div>
            </div>
        <% end %>
    <% end %>
    <div class="media mb-3" id="chat-messages">
        
    </div>
</div>
 