<div class="row">
  <div class="col-md-8">
    <div class="container py-2 px-4">
      <div class="row rounded-lg overflow-hidden shadow">
        <!-- Chat messages -->
        <div class="col-12 px-0">
          <div class="bg-light">
            <div id="messages">
              <%= render 'messages/message' %>
            </div>
            <!-- Chat input -->
            <%= form_tag messages_path, remote: true, method: :post, class:"bg-white px-4 py-3" do %>
                <%= hidden_field_tag :receiver_id, @user_friend.id %>
                <div class="form-group d-flex">
                  <%= text_field_tag :message, nil, id:"messages-input-#{@user_friend.id}", class:"form-control", placeholder:"Enviar mensaje"%>
                  <%= button_tag 'Enviar', type:"submit", class:"btn btn-primary"%>
                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4" >
    <div class="container py-2 px-4" >
        <div class="row rounded-lg shadow" style="max-height: 90vh; overflow-y: scroll;">
          <%= render 'messages/list_all_friends' %>
        </div>
    </div>
  </div>
</div>
