<div class="container-fluid d-flex flex-column justify-content-between align-items-center  top-0 start-0 vh-100 p-0 bg-dark " >
  <!-- Bot贸n de cerrar -->
  <%= button_to "#", method: :get, type:"button", onclick:"window.history.back();", class:"btn position-absolute top-0 start-0 m-3" do %>
    <i class="fa fa-times-circle fa-3x"></i>
  <% end %>
  
  <div class="row w-100">
    <!-- Imagen -->
    <div class="col bg-dark vh-100 d-flex text-center justify-content-center align-items-center" style="min-width: 80%; max-width: 85%;">
      <%= image_tag @image.url, class:"image-publications" %>
    </div>
    <!-- Barra de navegaci贸n -->
    <div class="col-auto bg-white" style="width: 20%;">
      <nav class="navbar navbar-expand-lg nav-publications">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link rounded-circle bg-light p-3" href="#" id="messeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-envelope" style="transform: scale(1.5);"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link rounded-circle bg-light p-3" href="#" id="notifiDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-bell" style="transform: scale(1.5);"></i>
              </a>
            </li>
            <li class="nav-item dropdown mx-2">
              <a class="nav-link dropdown-toggle  rounded-circle bg-light p-2 my-1" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <% if current_user.image_profile_id %>
                            <%= image_tag Image.find( current_user.image_profile_id).url, class:"profile-image-icon" %>
                        <% else %>
                            <i class="fa fa-user"></i>
                        <% end %>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><%= link_to("Cerrar sesi贸n", destroy_user_session_path,
                            class: "btn btn-danger logout-button dropdown-item", method: :delete)%>
                        </li>
                    </ul>
                </li>
            </li>
          </ul>
      </nav>
      <hr>
      <!-- Detalles del usuario -->
      <div class="d-flex align-items-center">
        <div class="mx-2">
          <% if @user.image_profile_id %>
              <%= image_tag Image.find(@user.image_profile_id).url, class: "rounded-circle friend-img" %>
          <% else %>
              <i class="fa fa-user fa-2x mx-2"></i>
          <% end %>
        </div>
        
        <div class="mt-2">
          <h5 class="name-publication"><%= @user.user_type != 'page' ? @user.full_name : @user.first_name %></h5>
          <label class="date-publication"><%= @publication.date_publication%></label>
        </div>
        
      </div>
      <div id="descriptionText" class="d-flex align-items-center">
        <div class="m-2">
          <label id="descriptionShow"><%=@publication.description %></label>
        </div>
      </div>
      <% if @user == current_user %>
        <div id="bottonEditar" class="d-flex align-items-center">
          <div class="mx-2 mb-4">
            <button id="buttonEditar" type="button" class="btn btn-primary float-right"><%= @publication.description.blank? ? 'Agregar descripci贸n' : 'Editar' %></button>
          </div>
        </div>
        <div id="textAreaDescription" class="mx-2 my-4 d-none">
          <%= form_tag publication_publication_description_path(@publication), method: :put, multipart: true, class: "form-inline", id:"form-description-publi" do %>
            <%= text_area_tag :description, @publication.description,  class: "form-control h-25 border-0 my-3" %>
            <%= submit_tag @publication.description.blank? ? 'Guardar' : 'Actualizar', id:"buttonUpdateDescription", class:"btn btn-success float-right"%>
          <% end %>
        </div>
      <% end %>
      <div class="d-flex align-items-center justify-content-between">
        <div class="mx-2">
          <i class="fa fa-thumbs-up text-primary size-icon-like-comments mx-1"></i> 
          <label id="likes-count<%=@publication.id%>" data-likes="<%= @publication.likes.where(is_like: true).count %>"> 
              <%= @publication.likes.where(is_like: true).count %> 
          </label>
        </div>
        <div class="mx-2">
          <%= @publication.main_comments.count %>  <i class="fa fa-comments text-primary size-icon-like-comments mx-1"></i>
        </div>
      </div>
      <hr>
      <!-- Reacciones -->
      <div class="row">
        <div class="col-4">
          <button id="<%= !@publication.exist_liked(current_user) ? 'add-like' : 'deleted-like'%>" 
                  data-publication-id="<%= @publication.id %>" 
                  class="btn btn-<%= @publication.user_liked(current_user) ? 'primary' : 'secondary' %>">
              Me gusta
          </button>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-success disabled"><i class="bi bi-chat"></i> Comentar</button>
        </div>
        <div class="col-4">
          <%= render 'publication_share/new_publishare', publication: @publication.original ? @publication : Publication.find(@publication.publicationshare_ids.first), shower: false%>
        </div>
      </div>
      <hr>
      <hr>
      <!-- Comentarios -->
      <div class="row">
        <div class="col-12">
          <%= render 'publications/comments', publication: @publication, commentLimit: 100%>
        </div>
      </div>
      <hr>
      <hr>
      <div class="row">
        <div class="col-12">
          <%= render 'publications/new_comment', publication: @publication%>
        </div>
      </div>
      
    </div>
  </div>
</div>