<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#buttonSharePubli<%= publication.id %>">
    <% if shower == true %>
    <i class="fa fa-share-alt mx-2"></i>
    <% end %> Compartir
</button>
<div class="modal fade" id="buttonSharePubli<%=publication.id%>" tabindex="-1" aria-labelledby="buttonSharePubliLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalPublicationLabel">Compartir publicación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="">
                <div class="media">
                    <div class="d-flex align-items-center">
                        <div>
                        <% if current_user.image_profile_id %>
                            <%= image_tag Image.find( current_user.image_profile_id).url, class:"image-icon-publi" %>
                            
                        <% else %>
                            <img src="https://via.placeholder.com/50" class="mr-3 rounded-circle" alt="...">
                        <% end %>
                        </div>
                        <h5 class="my-4 mx-2"><%= current_user.full_name%></h5>
                    </div>
                <%= form_tag share_publication_path(publication.id), method: :post, multipart: true, class: "form-inline" do %>
                    <div class="form-group mt-3">
                        <%= text_area_tag :description, nil, class: "form-control h-25 border-0", placeholder:"¿Qué estás pensando?" %>
                    </div>
                    <div class="my-3">
                        <div class="row">
                            <div class="col">
                            <% if !publication.image_id.blank? %>
                                    <%= image_tag Image.find(publication.image_id).url, alt:"publicacion-imagen", class:"w-100 publications-height" %>
                            <% end %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                            <% if !publication.description.blank? %>
                                <div class="my-2">
                                    <label class="<%='font-size-publication' if publication.image_id.blank? && publication.original %>">
                                        <%= publication.description  %>
                                    </label>
                                </div>
                            <% end %>
                            </div>
                        </div>
                    </div>
                    <%= submit_tag "Publicar", class: "btn btn-primary w-100", id:"botonShareCreate", dataId: "buttonSharePubli#{publication.id}" %>
                <% end %>
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
