<h3>Detalles</h3>
<nav class="flex-column">
    <div><label><strong>Nombre completo:</strong> <%= @user.full_name %></label></div>
    <div><label><strong>Fecha de cumpleaños:</strong> <%= @user.birthday %></label></div>
    <div><label><strong>Genero:</strong> <%= @user.sex == 'f' ? 'Mujer' : (@user.sex == 'm' ? 'Hombre': 'No especificado') %></label></div>
    <div><label><strong>Fecha de cumpleaños:</strong> <%= @user.birthday %></label></div>
    <div><label><strong>Segidores:</strong> <%= @user.friends.count %></label></div>
</nav>