<div class="d-flex flex-column flex-shrink-0 p-4" style="width: 100%;">
  <%= link_to root_path, class:"d-flex align-items-center my-3 mb-md-0 me-md-auto link-dark text-decoration-none" do %>
    <i class="fa fa-home fa-2x text-primary mx-2"></i>
    <span class="fs-5 mx-2">Inicio</span>
  <% end %>
  <%= link_to user_path(current_user), class: "d-flex align-items-center mb-md-0 me-md-auto link-dark text-decoration-none my-3 mx-1" do %>
    <% if current_user.image_profile_id %>
        <%= image_tag Image.find( current_user.image_profile_id).url, class:"profile-image-icon" %>
        <span class="fs-5 mx-2"><%= current_user.user_type != 'page'? current_user.full_name : current_user.first_name %></span>
    <% else %>
        <i class="fa fa-user fa-2x mx-2"></i>
        <span class="fs-5 mx-2"><%= current_user.user_type != 'page'? current_user.full_name : current_user.first_name %></span>
    <% end %>
  <%end%>
  <hr>
  <% if current_user.customer.nil? %>
    <%= link_to api_stripe_create_costumer_path, method: :post, class:"d-flex align-items-center mt-3 mb-1 link-dark text-decoration-none ms-1 me-2" do%>
      <%= image_tag('pokebola.png', alt: 'Pokéball', class:"profile-image-icon") %>
      <span class="fs-5 mx-2">Tienda Pokemon</span>
    <% end %>
  <% else %>
    <%= link_to marketplace_path, class:"d-flex align-items-center mt-3 mb-1 link-dark text-decoration-none ms-1 me-2" do %>
      <%= image_tag('pokebola.png', alt: 'Pokéball', class:"profile-image-icon") %>
      <span class="fs-5 mx-2">Tienda Pokemon</span>
    <% end %>
  <% end %>
  <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto link-dark text-decoration-none my-3 mx-2">
        <i class="fa fa-play-circle fa-2x text-primary"></i>
    <span class="fs-5 mx-2">Watch</span>
  </a>
  <%= link_to video_games_path, class:"d-flex align-items-center mb-md-0 me-md-auto link-dark text-decoration-none my-3 mx-1" do %>
    <i class="fa fa-gamepad fa-2x text-primary"></i>
    <span class="fs-5 mx-2">Videojuegos</span>
  <% end %>
  <hr>
  <%= render 'home/list_follow_pages' %>
  <hr>
    <%= render 'home/list_games' %>
</div>